* {
    margin: 0; padding: 0;
}

.fira-sans {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
.background_color {
    background-color: #F5F5F5;
}
/* Header Part */
.nav_bar{
    display: flex;
    justify-content: space-between;
}
#bangladesh{
    margin:25px 0 0 90px;
    font-size: 29px;
    font-weight: 700;
}
.sign_in {
    margin:20px 90px 0 0;
    font-size: 18px;
    font-weight: 500;
    color:#6BA798;
    border: 2px solid #6BA798;
    border-radius: 6px;
    width: 100px;
    height: 45px;
}
.sign_in:hover {
    background-color: rgb(231, 92, 28);
    color: white;
    border: 0;
}
.banner_box {
    background-color: #C6E4D6;
    height: 350px;
    width: 985px;
    margin: 30px 0 0 90px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.text_box{
    height: 227px;
    width: 414px;
    margin: 62px 0 0 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hero_img{
    height: 273px;
    width: 415px;
    margin: 34px 30px 0 0;
}
.small_p {
    color: #6A7972;
    font-size: 24px;
    font-weight: 400;
}
.large_p {
    font-size: 35px;
    font-weight: 700;
}
.learn_btn {
    width: 190px;
    height: 45px;
    background-color:#0A9957;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 6px;
    margin-top: 10px;
}
.learn_btn:hover {
    background-color: white;
    color: #0A9957;
}
.banner_box2 {
    height: 350px;
    width: 985px;
    margin: 30px 0 0 90px;
}
.banner_heading{
    font-size: 31px;
    font-weight: 700;
}
.small_2 {
    font-size: 14px;
    color: #0E0E0E;
    margin-top: 13px;
}
.vision_container{
    width: 985px;
    height: 246px;
    margin-top: 19px;
    display: flex;
    gap: 40px;
}
.box_1 {
    width: 300px; height: 246px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.light_img{
   height: 64px; width: 64px;
   margin: 22px 0 0 22px;
}
.top_p{
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0 0 22px;
}
.less_top{
    margin: 2px 0 0 22px;
}
.learn_2{
    height: 30px; width: 90px;
    margin: 5px 0 0 22px;
    border: 0;
    border-radius: 6px;
    color:white ;
}
/* say Box */
.say_box {
    
    height: 150px;
    width: 985px;
    margin: 30px 0 0 90px;
    border: #ffffff solid 1px;
    border-radius: 15px;
    background-color: #FFFFFF;

}
.say_box2{
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-size: 44px 52px;
    height: 120px;
    width: 965px;
    border: #ffffff solid 1px;
    margin: 12px 0 0 13px;
}
.say_talk{
    margin-left: 17px;
}
.yunus_sir {
    margin-top: 26px;
}
/* Recent News */
.banner_box3 {
    height: 350px;
    width: 985px;
    margin: 30px 0 0 90px;
}
.news_container {
    height: 240px;
    width: 985px;
    margin-top: 23px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.news_2{
    margin: 20px 0 0 90px;
}
.sat_img{
    height: 198px;
    width: 303px;
    border-radius: 10px;
    margin: 22px;
}
.news_box{
    height: 197px;
    width: 596px;
    margin: 22px 38px 0 0;
}
.news_box2{
    height: 197px;
    width: 596px;
    margin: 22px 0px 0 24px;
}
.news_heading{
    font-size: 29px;
    font-weight: 700;
}
.small_3{
    font-size: 14px;
    color: #0E0E0E;
    margin-top: 4px;
    
}

.also_small{
    margin-top: 8px;
}
.news_btn,.donate{
    background-color: #006A50;
    height: 30px; width: 90px;
    margin-top: 10px;
    color: #FFFFFF;
    border: 0;
    border-radius: 6px;
}
.news_btn:hover{
    background-color: rgb(231, 92, 28);
}
/* donation box */
.banner_box4 {
    height: 320px;
    width: 985px;
    margin: 30px 0 0 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donate_box{
    height: 100px;
    width: 850px;
    margin-top: 22px;
    display: flex;
    gap: 22px;
}
.big_p {
    font-size: 29px;
    font-weight: 700;
}
.small_4{
    font-size: 14px;
    color: #0E0E0E;
    margin-top: 8px;
}
#amount {
    height: 35px;
    width: 819px;
    margin-top: 22px;
    border: 0;
    text-align: center;
}
.donate{
    margin-top: 17px;
}
.donate:hover{
    background-color: rgb(231, 92, 28);
}
.taka_box {
    height: 100px; width: 195px;
    border-radius: 15px;
    background-color: #FFFFFF;
    align-content: center;

}
.taka_box p {
    text-align: center;
    font-size: 31px;
    font-weight: 700;
    color: #333936;
}
.taka_box:hover{
    background-color: #6BA798;
}
/* last part */
.last_box{
    height: 240px;
    width: 985px;
}
